@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* CSS Background does not stretch over the whole height */
  /* background: linear-gradient(rgba(26, 85, 153, 0.5), rgba(26, 85, 153, 1)) no-repeat fixed; */
  background: url('./Images/Desktop.png');
  font-family: 'ubuntu', sans-serif;
}

header {
  padding-top: 5px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header h1 {
  color: var(--black);
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  font-family: 'Lobster', cursive;
}

main {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

section {
  padding: 15px;
}

section.searchbox-wrap {
  margin-top: 15px;
}

.searchbox {
  display: block;
  width: 100%;
  padding: 15px;

  border: none;
  outline: none;
  background: none;

  background-color: #eee;
  border-radius: 8px;

  color: #53565a;
  font-size: 20px;
  font-weight: 300;

  transition: 0.4s ease-out;
}

.searchbox:focus {
  box-shadow: 0px 0px 8px 3px #4484c4;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -15px;
  padding-bottom: 80px;
}

.results .result {
  width: 33.333%;
  min-width: 250px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.results .result img {
  display: block;
  width: 100%;
}

.results .result h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  background: #445565;
  flex: 1 1 100%;
  transition: 0.4s ease-out;
  margin: 0;
  text-align: center;
  padding: 10px 0px;
}

.results .result:hover h3 {
  background: #fff;
  color: #223343;
  padding: 15px 0px;
}

.results .result button.button {
  min-height: 36px;
  border-radius: 0;
  width: 100%;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #445565;
  /* Always Above the More Info Popup  */
  z-index: 101;
  overflow-y: scroll;
}

.popup .content {
  display: block;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 25px;

  color: #fff;
}

.popup .content h2 {
  font-size: 28px;
  font-weight: 600;
}
.popup .content h2 span {
  font-weight: 300;
  font-size: 20px;
}

.popup .content .rating {
  margin-bottom: 30px;
}

.popup .content .plot {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px 30px;
}

.popup .content .plot img {
  flex: 1 1 50%;
  max-width: 300px;
  padding: 0px 15px;
}

.popup .content .plot p {
  flex: 1 1 50%;
  padding: 15px;
}

.popup .content .close {
  display: inline-block;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 700;

  background: #4484c4;
  color: #fff;
  border-radius: 8px;
  border: none;
  outline: none;
  appearance: none;
  cursor: pointer;

  transition: 0.4s ease-out;
}

.popup .content .close:hover {
  background: #223343;
}

h1.no-movies-found {
  width: 448px;
  height: 79px;
  left: 65px;
  top: 115px;

  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  text-align: center;

  color: #ffffff;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
