/* * This file Overrides Semantic UI React */

.segment {
  position: fixed !important;
  border-radius: 0 !important;
  bottom: 0 !important;
  width: 100%;
  /* z-index: 2; */
}

div.item {
  line-height: 36px !important;
}

div.item .button {
  float: right;
  background-color: white;
}

button.ui.animated.button {
  z-index: 0 !important;
}

@media only screen and (max-width: 350px) {
  div.item {
    line-height: 16px !important;
  }
}